@using HolyGo.Models
@model LoginViewModel

<link rel="stylesheet" href="~/Assets/Css/Account/Login/Login.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
@{
    ViewBag.Title = "登入";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="limiter">
    <div class="container-login100 pt-5">
        <div class="wrap-login100 p-5 pt-5 mt-5">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form" }))
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title pb-5">
                    <strong>Login</strong>
                </span>

                <div class="wrap-input100 validate-input mb-3" data-validate="Username is reauired">
                    <span class="label-input100">Username</span>
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Type your username", @class = "input100" })
                    <span class="focus-input100" data-symbol="&#xf15a;"></span>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    @Html.TextBoxFor(model => model.Password, new { @type = "password", @placeholder = "Type your password", @class = "input100" })
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 pt-3">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "pl-2" })
                        </div>
                    </div>
                </div>

                <div class="text-center pb-3">
                    <a>
                        @Html.ActionLink("忘記密碼?", "ForgotPassword")
                    </a>
                    <a class="ml-5">
                        @Html.ActionLink("註冊使用者", "Register")
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                </div>

                <div class="txt1 text-center py-3">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>
            }
            <div class="flex-c-m">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                <a href="#" class="login100-social-item bg2">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>使用本機帳戶進行登入。</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登入" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("以新使用者身分註冊", "Register")
                </p>*@
@* 只要您的密碼重設功能能夠進行帳戶確認，就啟用此項
    <p>
        @Html.ActionLink("忘記密碼?", "ForgotPassword")
    </p>*@
@*}
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
