@model HolyGo.Models.RegisterViewModel

<link rel="stylesheet" href="~/Assets/Css/Account/Login/Login.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

@{
    ViewBag.Title = "註冊";
}

<div class="limiter">
    <div class="container-login100 pt-5">
        <div class="wrap-login100 p-5 pt-5 mt-5">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "signup", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title pb-5">
                    <strong>Register</strong>
                </span>
                <div class="row">
                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Username is reauired">
                        <span class="label-input100">姓氏</span>
                        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "戴", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Username is reauired">
                        <span class="label-input100">名字</span>
                        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "德仁", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-4" data-validate="Username is reauired">
                        <span class="label-input100">國籍</span>
                        @Html.TextBoxFor(m => m.Country, new { @placeholder = "台灣", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf347;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-4" data-validate="Username is reauired">
                        <span class="label-input100">地區</span>
                        @Html.TextBoxFor(m => m.City, new { @placeholder = "桃園", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf133;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-4" data-validate="Username is reauired">
                        <span class="label-input100">性別</span>
                        @Html.TextBoxFor(m => m.Gender, new { @placeholder = "男", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf212;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Username is reauired">
                        <span class="label-input100">生日</span>
                        @Html.TextBoxFor(m => m.Birthday, new { @type = "date", @placeholder = "生日", @class = "input100", @id = "flatpickr" })
                        <span class="focus-input100" data-symbol="&#xf122;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Username is reauired">
                        <span class="label-input100">電話</span>
                        @Html.TextBoxFor(m => m.Phone, new { @placeholder = "0912345678", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf2be;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0" data-validate="Username is reauired">
                        <span class="label-input100">電子信箱</span>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "web108b@gmail.com", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf15a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Username is reauired">
                        <span class="label-input100">密碼</span>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="wrap-input100 validate-input mb-3 p-0 col-sm-6" data-validate="Password is required">
                        <span class="label-input100">確認密碼</span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Comfirm Password", @class = "input100" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="container-login100-form-btn pt-5">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>建立新帳戶。</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="註冊" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="~/Assets/Js/Home/Member/datepicker.js"></script>
}
