@using HolyGo.Models
@model IEnumerable<HolyGo.ViewModels.TopTravelViewModel>

@{
    ViewBag.Title = "_TravelPartial";
}

<link rel="stylesheet" href="~/Assets/Css/Home/Travel/Travel.css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap" rel="stylesheet">

<section class="ftco-section pt-4">
    <div class="container">
        <div class="row ">
            <div class="heading-section text-center ftco-animate">
                <h2 class="mb-4" style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">全球熱推拍照勝地📸</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                    <div class="card-project">
                        <div class="img">
                            <div class="vr"><span>Sale</span></div>
                            <a href="destination.html"><img class="img-fluid justify-content-center align-items-center" src="@Html.DisplayFor(m => item.Images)"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$@Html.DisplayFor(m => item.Cost)</h4>
                            <span> 行程時間 @Html.DisplayFor(m => item.Time) 小時</span>
                            <div class="float-right">
                                <span class="rate">@Html.DisplayFor(m => item.Country)</span>
                            </div>
                            <h3 class="title">@Html.DisplayFor(m => item.Title)</h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left content">
                                    @Html.DisplayFor(m => item.Contents)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
</section>
<section class="ftco-section pt-4">
    <div class="container">
        <div class="row ">
            <div class="heading-section text-center ftco-animate">
                <h2 class="mb-4" style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">全球熱推拍照勝地📸</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <div class="vr"><span>Sale</span></div>
                        <a href="destination.html"><img class="img-fluid" src="~/Assets/Images/destination-1.jpg" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price"><span class="old-price mr-2">$500</span>$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-2.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-3.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-4.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-5.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-6.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-3.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                <div class="card-project">
                    <div class="img">
                        <a href="destination.html"><img src="~/Assets/Images/destination-4.jpg" class="img-fluid" alt="Colorlib Template"></a>
                    </div>
                    <div class="text">
                        <h4 class="price">$400</h4>
                        <span>15 Days Tour</span>
                        <h3><a href="destination.html">Gurtnellen, Swetzerland</a></h3>
                        <div class="star d-flex clearfix">
                            <div class="mr-auto float-left">
                                StarCount
                            </div>
                            <div class="float-right">
                                <span class="rate"><a href="#">(120)</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="~/Assets/Images/destination-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
